@import url("https://fonts.googleapis.com/css?family=Montserrat|Red+Hat+Text|Roboto&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

/* Navbar */
.navbar {
  box-shadow: 0px 1px 3px rgb(63, 63, 63);
  opacity: 1;
  transition: all 0.5s;
}

nav.scrollUp {
  transform: translateY(-55px);
}

nav i {
  color: rgb(35, 160, 243);
}

/* Header */
.wrapper h1 {
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #0c686e 10%,
    rgb(51, 123, 151) 50%,
    #36648f 60%
  );
  /* background-size: auto auto; */
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 190% center;
  }
}

/* Cards */
.card {
  box-shadow: 0px 1px 2px #6868699d;
  border-radius: 0px !important;
  border: none !important;
}

.card-img-top {
  border-radius: 0px !important;
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  font-weight: bold !important;
}

/* Adds a box shadow to the buttons */
.btn {
  box-shadow: 0px 1px 3px rgb(77, 74, 74);
  border-radius: 0px !important;
}

/* Removes the underline when the buttons Demo and GitHub are hovered */
a:hover {
  text-decoration: none !important;
}

/* .git-link a {
  color: rgb(139, 42, 42);
} */

/* Messages for the contact form */
.success-msg {
  color: #57a773;
  padding: 10px 15px;
}

.err-msg {
  color: #ee6352;
  padding: 10px 15px;
}

/* Media quesries that resizes the h1 header so that it does not overflow on smaller devices */
@media only screen and (max-width: 900px) {
  .wrapper h1 {
    font-size: 67px !important;
  }
}

@media only screen and (max-width: 410px) {
  .wrapper h1 {
    font-size: 45px !important;
  }
}
